services:
  webapp:
    container_name: consilium-api
    networks:
      - consilium
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - db

  db:
    image: postgres
    networks:
      - consilium
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: 123456abc
      POSTGRES_USER: admin
      POSTGRES_DB: consilium
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
      # - ./dbdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
      
networks:
  consilium:
    name: consilium_network