services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: 123456abc
      POSTGRES_USER: admin
      POSTGRES_DB: consilium
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
      # - ./dbdata:/var/lib/postgresql/data
    ports:
      - 5432:5432