apiVersion: v1
kind: ConfigMap
metadata:
  name: consilium-prometheus-blackbox-config
  namespace: <your-namespace>
data:
  config.yml: |
    modules:
      http_2xx:
        prober: http
        timeout: 10s
        http:
          method: GET
          valid_http_versions: ["HTTP/1.1","HTTP/2"]
          valid_status_codes: []            # any 2xx is OK
          headers:
            Host: main.consilium.duckdns.org
          tls_config:
            insecure_skip_verify: true      # skip cert check if needed
          preferred_ip_protocol: "ip4"
