apiVersion: v1
kind: ConfigMap
metadata:
  name: consilium-grafana-config
  namespace: $NAMESPACE
data:
  ds.yaml: |
    apiVersion: 1

    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://consilium-loki-svc:3100
        jsonData:
          timeout: 60
          maxLines: 1000
      
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://consilium-prometheus-svc:9090
        jsonData:
          timeInterval: "5s"

      -name: Zipkin
        type: zipkin
        access: proxy
        url: http://consilium-zipkin-svc:9090
        jsonData:
          timeInterval: "5s"
      
