apiVersion: v1
kind: ConfigMap
metadata:
  name: consilium-otel-collector-config
  namespace: $NAMESPACE
data: 
 config.yaml: |
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

  processors:
    # batch:

  exporters:
    debug:
      verbosity: detailed
    otlphttp:
      endpoint: http://consilium-loki-svc:3100/otlp
    prometheus:
      endpoint: 0.0.0.0:8889
      namespace: default
    zipkin:
      endpoint: http://consilium-zipkin-svc:9411/api/v2/spans

  service:
    extensions: []
    pipelines:
    metrics:
      receivers: [otlp]
      processors: []
      exporters: [prometheus, debug]
    logs:
      receivers: [otlp]
      processors: []
      exporters: [otlphttp, debug]
    traces:
      receivers: [otlp]
      processors: []
      exporters: [zipkin, debug]