apiVersion: v1
kind: ConfigMap
metadata:
  name: consilium-prometheus-config
  namespace: $NAMESPACE
data:
  prometheus.yml: |
    # my global config
    global:
      scrape_interval: 5s
      evaluation_interval: 5s

    alerting:
      alertmanagers:
        - static_configs:
            - targets: []

    rule_files: []

    scrape_configs:
      - job_name: "otel"
        static_configs:
          - targets: ["consilium-otel-collector-svc:8889"]

      - job_name: "api_blackbox"
        scheme: http
        metrics_path: /probe
        params:
          module: [http_2xx]
        static_configs:
          - targets:
              - https://main.consilium.duckdns.org/health
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - target_label: __address__
            replacement: blackbox.consilium.duckdns.org
