receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:

exporters:
  debug:
    verbosity: detailed
  otlphttp:
    endpoint: http://consilium-loki:3100/otlp
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: default
  zipkin:
    endpoint: http://consilium-zipkin:9411/api/v2/spans


extensions:
  health_check:
  pprof:
  zpages:

service:
  extensions: [health_check, pprof, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      processors: []
      exporters: [prometheus, debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlphttp]