:root {
  --dark-dark: #242424;
  --dark-back: #39403c;
  --dark-med: #54695D;
  --mid-green: #719984;
  --light-med: #E3D6BF;
  --light-back: #F2E9D8;
  --light-light: #FAF7F2;
}

body,
html {
  padding: 0;
  margin: 0;
  margin-bottom: 10%;
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
  color: black;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: var(--light-back);
}

header {
  background-color: var(--mid-green);
  padding: 0 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navElements a {
  margin-right: 5px;
}

a {
  color: black;
}
.headerNav {
  text-decoration: none;
}

#content {
  padding: 0 20px;
  
}