:root {
  --dark-dark: #242424;
  --dark-back: #39403c;
  --dark-med: #54695D;
  --mid-green: #719984;
  --light-med: #E3D6BF;
  --light-back: #F4EEE6;
  --light-light: #FAF7F2;
}

body,
html {
  padding: 0;
  margin: 0;
  margin-bottom: 10%;
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
  color: black;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: var(--light-back);
}

header {
  background-color: var(--mid-green);
  padding: 0 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navElements a {
  margin-right: 5px;
  color: white;
}

a {
  color: white;
}
.headerNav {
  text-decoration: none;
}

#content {
  padding: 0 20px;
  
}

#pomodoro-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: var(--light-light);
  width: 50em;
  justify-self: center;
  border-radius: 3em;
}

#pomodoro-settings {
  display:flex;
  flex-direction: column;
  margin: 10px;
}

#pomodoro-settings label {
  margin: 5px;
}