name: Build and deploy Api to Kubernetees

on:
  workflow_run:
    workflows: [Test Project]
    types: [completed]

jobs:
  build_and_deploy_api:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - uses: actions/checkout@v4 # git clone
    
    - name: Check Nodes
      run: kubectl get nodes

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    
    - name : Build image
      run: |
        docker buildx \
        build --platform linux/amd64 \
        -f ./Dockerfiles/Dockerfile \
        -t mateotomaszeuski/consilium:${{ github.run_number }} \
        .
        
    - name: Push image to DockerHub
      run: docker push mateotomaszeuski/consilium:${{ github.run_number }}
    
    - name: Apply Kubernetes Changes
      run: |
        export BUILD_NUMBER=${{ github.run_number }}
        
        for FILE in "kube"/*
        do
            cat $FILE | envsubst | kubectl apply -f -
        done