name: Send Message

on:
  workflow_run:
    workflows: [Test Project]
    types: [completed]

jobs:
  send_failure_messge:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
   
    steps:
        - name: Discord notification
          env:
            DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          uses: Ilshidur/action-discord@master
          with:
            args: |
                THE PIPELINE BROKE! RUN FIX IT!
                Commit message: {{ EVENT_PAYLOAD.push.head_commit.message }}

            