name: Test Project
on : 
- push

jobs:
  Integration_Test_Project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # git clone
      
      - run: cd Consilium

      - name: Check Linting
        run: dotnet format --verify-no-changes
      
      - name: Check warnings as errors
        run: dotnet build Consilium.API --warnaserror

    #using docker for integration testing
      - name: Spin up Api and Database
        run: docker compose -f docker-compose.integration-test.yml up -d --build

      - name: docker logs
        run: |
          docker ps
          docker logs consilium-api 

      - name: build integration Tests
        run: |
            docker build \
                -f integrationtest.Dockerfile \
                -t consilium_integration_test_container \
            .
      - name: run integration tests
        run: docker run --rm --network consilium_network consilium_integration_test_container

      - name: Stop Containers
        run: docker compose down



# https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#workflow_run